label
	input(type="text", placeholder="Nom", id="search_name")
label
	input(type="text", placeholder="Chambre", id="search_room")
label
	input(type="text", placeholder="Machine", id="search_machine")
button.btn
	i.icon-search