.container-fluid
	.navbar
		.navbar-inner
			form#search.navbar-form.form-inline.pull-left
	.row-fluid
		.span2
			.sidebar-nav
				ul#results.nav.nav-list
		#leo.span10
#modals
	#modal_machine.modal.hide.fade